<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.jejuwn.mapper.BlogExtMapper">
    <insert id="createBlogTable" parameterType="int" statementType="CALLABLE"> 
		DECLARE
		    query varchar2(500);
		    tablename varchar2(100);
		    uid number(38,0);
		BEGIN
		uid := ${id};
		tablename := 'blog_user_'||uid||'';
		query := 'CREATE TABLE '||tablename||' (
		    id number(38,0),
		    user_id number(38,0),
		    title varchar2(100) not null,
		    content varchar2(280) not null,
		    regdate date default sysdate,
		    updatedate date default sysdate,
		    PRIMARY KEY(id),
		    FOREIGN KEY(user_id) REFERENCES usertbl(id)
		)';
		dbms_output.put_line(query);
		EXECUTE IMMEDIATE 'SELECT * FROM '||tablename||'';
		EXCEPTION
		WHEN OTHERS THEN
		IF SQLCODE = -942 THEN
		EXECUTE IMMEDIATE query;
		END IF;
		END;
    </insert>
    
    <insert id="insertBlog">
    	INSERT INTO blog_user_${userId} (id, user_id, title, content)
    		VALUES
    	(#{id}, #{userId,jdbcType=NUMERIC}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
    </insert>
    
    <update id="updateBlog">
    	UPDATE blog_user_${userId} 
    		SET
    	user_id=#{userId,jdbcType=NUMERIC}, title=#{title,jdbcType=VARCHAR}, content=#{content,jdbcType=VARCHAR},
    	updatedate=SYSDATE WHERE id=#{id}  
    </update>
    
    <delete id="deleteBlog">
    	DELETE FROM blog_user_${userId} WHERE id=#{id}
    </delete>
</mapper>