<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.jejewn.mapper.BlogMapper">
<select id="getBlogList" resultType="io.jejewn.persistence.BlogVO">
<![CDATA[
	select /* id:getBlogList| Blog 데이터 조회  */
		   user_id
		 , product_id
		 , gender
		 , age
		 , occupation
		 , city_category
		 , stay_in_current_city_years
		 , marital_status
		 , product_category_1
		 , product_category_2
		 , product_category_3
		 , purchase
	  from blog
]]>
</select>

<insert id="insertBlog" parameterType="io.jejewn.persistence.BlogVO">
	insert /* id:insertBlog| Blog 데이터 저장 |  */ 
	  into blog 
		   (user_id
		  , product_id
		  , gender
		  , age
		  , occupation
		  , city_category
		  , stay_in_current_city_years
		  , marital_status
		  , product_category_1
		  , product_category_2
		  , product_category_3
		  , purchase)
	values (#{userId}
		  , #{productId}
		  , #{gender}
		  , #{age}
		  , #{occupation}
		  , #{cityCategory}
		  , #{stayInCurrentCityYears}
		  , #{maritalStatus}
		  , #{productCategory1}
		  , #{productCategory2}
		  , #{productCategory3} 
		  , #{purchase})
</insert>

</mapper>