<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.jejewn.mapper.CartItemMapper">
	<select id="getCartItemList" resultType="io.jejewn.persistence.CartItemVO">
		SELECT * FROM cart_item ORDER BY id DESC
	</select>
	
	<select id="getCartItemList" resultType="io.jejewn.persistence.CartItemVO">
		SELECT * FROM cart_item WHERE card_id = #{cId} ORDER BY id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO cart_item
		(id, item, cart_id, product_id)
			VALUES
		(id.nextval, #{item}, #{cId}, #{pId})
	</insert>
	
	<delete id="delete">
			DELETE FROM cart_item
			WHERE id = #{ciId}
	</delete>
</mapper>