<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.jejewn.mapper.ProductCommentMapper">
	<select id="getProductCommentList" resultType="io.jejewn.persistence.ProductCommentVO">
		SELECT * FROM product_comment
			WHERE product_id = #{pId}
		ORDER BY id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO product_comment
		(id, content, user_id, product_id, rating)
			VALUES
		(id.nextval, #{content}, #{uId}, #{pId}, #{rating})
	</insert>
	
	<update id="update">
		UPDATE product_comment
			SET
		content = #{content}, rating = #{rating}, updatedate = SYSDATE
		WHERE id = #{pId}
	</update>
	
	<delete id="delete">
		DELETE FROM product_comment
			WHERE id = #{pId}
	</delete>
</mapper>