<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.jejewn.mapper.UserMapper">
	<select id="getList" resultType="io.jejewn.persistence.UserVO">
		SELECT * FROM usertbl ORDER BY id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO usertbl
		(id, name, nick, pass, gender, phone, age, email, role)
			VALUES
		(id.nextval, #{name}, #{nick}, #{pass}, #{gender}, #{phone}, #{age}, #{email}, #{role})
	</insert>
	
	<update id="update">
		UPDATE 	usertbl
			SET
		pass = #{pass}, address = #{address}, phone = #{phone}, email = #{email}
		WHERE id = #{uId}
	</update>
	
	<delete id="delete">
		DELETE FROM usertbl
			WHERE id = #{uId}
	</delete>
	
	<select id="userDetail" resultType="io.jejewn.persistence.UserVO">
		SELECT * FROM usertbl WHERE id = #{uId}
	</select>
</mapper>